* {
    margin: 0px;
}

body {
    --app-dark-blue: rgb(0, 0, 40);
    --app-mid-blue: rgb(94, 106, 176);
    --app-light-blue: rgb(151, 148, 196);
    background-color: var(--app-dark-blue);
    padding: 50px 250px 50px 250px;
}

.title-container {
    background-color: var(--app-mid-blue);
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.title-container > h1 {
    font-size: 3.8rem;
    margin-right: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-content {
    display: flex;
}

.navbar {
    width: 27%;
    background-color: var(--app-light-blue);
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;
}

a {
    /* Matching app-mid-blue color used in title */
    color: rgb(35, 52, 147);
}

.main-content {
    background-color: antiquewhite;
}

img {
    width: 280px;
    height: 350px;
    float: right;
    margin-top: 35px;
    margin-right: 35px;
    margin-left: 20px;
}

section {
    margin: 20px 20px 20px 20px;
}

h2 {
    margin-bottom: 20px;
    color: var(--app-light-blue);
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}